*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  text-align: center;
}

body {
  margin: 0;
  background-color: #292929;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}